/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
header {
    text-align: center;
}

header img {
    max-width: 150px;
}

h1, h2 {
    color: #2b71bc;
}

/* Form Styles */
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
}

div {
    margin-bottom: 15px;
}

/* Input and Labels */
input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #2b71bc;
    color: white;
}

/* Submit Button */
button {
    background-color: #2b71bc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #2b71bc;
}

#question2Container {
    display: none;
}

#question4Container {
    display: none;
}
